# docs + exposed routes are not built and should not be counted
src/docs/** linguist-documentation
src/routes/** linguist-documentation
src/app.html linguist-documentation

# svelte.ts files
*.svelte.ts linguist-language=svelte
