input,
select,
textarea {
  font-size: var(--input-size);
}

p {
  white-space: normal;
  word-break: break-word;
  hyphens: auto;
}

button {
  font-size: var(--button-size);
  cursor: pointer;

  &.link {
    background: none;
    border: none;
    padding: 0;
    color: var(--color-link);

    &:hover {
      color: var(--color-link-hover);
    }
  }

  &.plain,
  &.basic {
    background: none;
    border: none;
    padding: 0;
    color: inherit;
    font-size: inherit;
  }

  &.basic {
    color: var(--text-primary);
    &:hover {
      color: var(--text-muted);
    }
    &:active {
      color: var(--text-dimmed);
      transform: var(--click-transform);
    }
  }
}

form {
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  gap: var(--form-gap);
}

::placeholder {
  color: var(--input-placeholder-color);
}

a,
.link {
  color: var(--color-link);
  text-decoration: none;

  &:hover {
    color: var(--color-link-hover);
  }
}

a,
button,
input,
select,
textarea {
  &,
  * {
    transition: var(--interactive-transition);
  }
}

*:focus-visible {
  outline: none;
  box-shadow:
    0 0 0 var(--focus-shadow-offset) var(--background-primary),
    0 0 0 calc(var(--focus-shadow-offset) + var(--focus-shadow-offset)) var(--color-focus) !important;
}

::selection {
  background-color: var(--selection-color);
  color: var(--selection-text-color);
}

.container {
  max-width: var(--container-width);
  padding-inline: var(--padding-m);
  margin: 0 auto;
  width: 100%;
}

.fill {
  width: 100%;
  height: 100%;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-height {
  height: 100%;
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

h4 {
  font-size: var(--h4-size);
}

h5 {
  font-size: var(--h5-size);
}

h6 {
  font-size: var(--h6-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;

  &:first-child {
    margin-top: 0;
  }

  margin-bottom: 0.5em;

  &:has(+ p) {
    margin-bottom: 0;
  }
}

code {
  font-size: var(--code-size);
}

.mono {
  font-family: 'Fira Code', monospace;
}

hr {
  border: 0;
  border-top: var(--border-width) solid var(--hr-color);
  margin: var(--padding-m) 0;
}

*:disabled {
  opacity: 1;
  cursor: not-allowed;
}

ul,
ol,
dl {
  margin: var(--padding-xxs) 0;
  padding-inline-start: var(--padding-m);

  &.plain {
    list-style: none;
    padding-inline-start: 0;
  }
}

input[type='checkbox'],
input[type='radio'] {
  &:not(:disabled) {
    cursor: pointer;
  }
}

form,
.form {
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: var(--form-gap);
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: var(--form-field-gap);
  width: 100%;

  &.inline {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--form-field-inline-gap);

    label {
      width: auto;
    }
  }
}

.extra-small {
  font-size: var(--font-size-xs);
}

.small {
  font-size: var(--font-size-s);
}

.medium {
  font-size: var(--font-size-m);
}

.large {
  font-size: var(--font-size-l);
}

.extra-large {
  font-size: var(--font-size-xl);
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  border-left: var(--blockquote-border-width) solid var(--blockquote-border-color);
  margin: 0;
  padding-left: var(--padding-m);
}

.dimmed {
  color: var(--text-dimmed);

  a,
  .link {
    color: var(--text-muted);

    &:hover {
      color: var(--text-dimmed);
    }
  }
}

.muted {
  color: var(--text-muted);

  a,
  .link {
    color: var(--text-primary);

    &:hover {
      color: var(--text-muted);
    }
  }
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.centered {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* lucide icon same size as text */
.lucide-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.1em;
  flex-shrink: 0;
}

/* lucide icon alignment fix, use wrapper for default 1.5rem lucide icon size */
.lucide-icon-wrapper {
  position: relative;
  top: 1px;
  font-size: inherit;

  height: 0;

  .lucide-icon {
    font-size: inherit;
    width: 1.5em;
    height: 1.5em;
    vertical-align: -0.15em;
  }
}

.mobile-only {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}

.desktop-only {
  @media (max-width: 768px) {
    display: none;
  }
}

code,
pre {
  max-width: 100%;
  overflow: auto;
}

input {
  padding: var(--input-padding);
  border-radius: var(--input-radius);
  background-color: var(--input-background);
  border: var(--border-width) solid var(--input-border);

  &:not(:disabled) {
    &:hover {
      background-color: var(--input-background-hover);
    }

    &:focus {
      background-color: var(--input-background);
    }
  }

  &:disabled {
    color: var(--input-disabled-color);
    background-color: var(--input-disabled-background);
  }

  &.invalid {
    box-shadow: 0 0 0 var(--state-shadow-width) var(--color-invalid-background);
    border-color: var(--color-invalid-border);
  }
}

textarea {
  padding: var(--input-padding);
  border-radius: var(--input-radius);
  background-color: var(--input-background);
  border: var(--border-width) solid var(--input-border);
  resize: vertical;
  height: calc(6lh + var(--padding-s) * 2);
  min-height: calc(2lh + var(--padding-s) * 2);

  &:not(:disabled) {
    &:hover {
      background-color: var(--input-background-hover);
    }

    &:focus {
      background-color: var(--input-background);
    }
  }

  &:disabled {
    color: var(--input-disabled-color);
    background-color: var(--input-disabled-background);
  }

  &.invalid {
    box-shadow: 0 0 0 var(--state-shadow-width) var(--color-invalid-background);
    border-color: var(--color-invalid-border);
  }
}

button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--button-padding);
  height: var(--button-height);
  border-radius: var(--button-radius);
  color: var(--button-color);
  border: var(--border-width) solid var(--button-border);
  background-color: var(--button-background);
  font-size: var(--button-size);
  overflow: hidden;
  white-space: nowrap;
  flex-shrink: 0;

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      color: var(--button-color-hover);
      background-color: var(--button-background-hover);
      border-color: var(--button-border-hover);
    }

    &:active {
      color: var(--button-color-active);
      background-color: var(--button-background-active);
      border-color: var(--button-border-active);
      transform: var(--click-transform);
    }
  }

  &:disabled {
    color: var(--input-disabled-color) !important;
    background-color: var(--input-disabled-background) !important;
    border-color: var(--input-disabled-border) !important;
  }
}
